html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

::-webkit-scrollbar {
  display: none;
}

.fullscreen {
  height: 100vh;
  scroll-snap-align: start;
}

p {
  text-align: left;
}

#name {
  font-size: 2rem;
  margin-left: 10%
}

#navbarNav{
  margin-left: 50%
}

.textBubble {
  background-color: #005148;
  border-radius: 20px;
  padding: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.rotatingImage {
  width: 100%;
  height: 95%;
  object-fit: cover;
  background-color: #000;
}

#imageCarousel {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

iframe {
  border-radius: 20px
}

.wrapper {
  padding-top: 1%;
  width: 80%;
}

.icon {
  margin-left: 1%;
}

#iconList {
  margin-left: 5%
}

#footer {
  background-color: #222222;
  padding: 0.5%
}

.sectionHeader {
  margin-bottom: 2%
}

.titleImage {
    content: url('assets/TitleImageDesktop.png');
  }

@media (max-width: 600px) {
  .fullscreen {
    height: auto;
  }

  .titleImage {
    content: url('assets/TitleImageMobile.png');
  }

  #navbarNav {
    margin-left: 0%
  }

  .navItem {
    font-size: 1.5rem;
  }

  .videoSection {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  #iconList {
    display: none;
  }
}
